*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/plugins
wp-content/plugins/*
wp-content/mcloud-views
wp-content/mcloud-views/*
!wp-content/plugins/chartjs-shortcodes
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/google551919644092de49.html

# Ignore paths that contain user-generated content.
/wp-content/ai1wm-backups
/wp-content/cache
/wp-content/uploads/
/wp-content/w3tc-config/
/wp-content/advanced-cache.php
/wp-content/db.php
/wp-content/object-cache.php

wp-config
wp-config/*
community
community/*
