# ignore everything in the root except the themes directory.
/*
!/wp-content/
/wp-content/*
!/wp-content/themes
!/wp-content/plugins

# ignore plugins
wp-content/plugins/*

# ignore non-custom themes
wp-content/themes/*

# ignore node dependency directories
node_modules/

# ignore bootstrap files
wp-content/themes/melting_pot/bootstrap-4.5.0

# ignore log files and databases
*.log
*.sql
*.sqlite

# don't ignore our theme
!wp-content/themes/melting_pot
!wp-content/themes/meltingpot-child

# don't ignore
!.gitignore
!README.md
!wp-content/plugins/challenge-score
