# ignore everything in the root except the themes directory.
/*
!/wp-content/
/wp-content/*
!/wp-content/themes

# ignore plugins
wp-content/plugins/*

# ignore non-custom themes
wp-content/themes/*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# don't ignore our theme
!wp-content/themes/melting_pot
!wp-content/themes/meltingpot-child
